<template>
<div class="">
    <button @click="logOut">Log out</button>
</div>
</template>

<script>
import firebase from 'firebase';
export default {
    methods: {
        logOut() {
            firebase.auth().signOut()
        }
    }
}

</script>