<template>
  <div class="app">
    <Chat v-if="user"></Chat>
    <Login v-else></Login>
  </div>
  
</template>

<script>
import Chat from './components/Chat.vue'
import Login from './components/LoginComponent.vue'
import firebase from 'firebase'

export default {
  data() {
    return {
      user: firebase.auth().currentUser
    }
  },
  name: 'App',
  components: {
    Chat,
    Login
}
}
</script>

